---
body_class: home
---

<ul class="biglist">
  <li>
    <a class="biglist-label home-speaking" href="/speaking/">Speaking
    </a><a class="biglist-label home-consulting" href="/consulting/">Consulting
    </a><a class="biglist-label home-training" href="/training/">Training</a>
  </li>
  <%- items.select{|item| item[:kind] == 'post'}.sort_by!{|item| item[:date]}.reverse!.each do |item| -%>
  <li>
    <a href="<%= item.rep_named(:default).path %>">
      <span class="biglist-label"><%= item[:title] ||= item.identifier %></span>
      <span class="biglist-pull"><%= item[:date] %></span>
    </a>
  </li>
  <%- end -%>
</ul>
