---
body_class: home
---

<ul class="biglist">
  <li>
    <a class="biglist-label home-speaking" href="/talks/">Speaking
    </a><a class="biglist-label home-consulting" href="/consulting/">Consulting
    </a><a class="biglist-label home-training" href="/training/">Training</a>
  </li>
  <%- items.select{|item| item[:kind] == 'post'}.sort_by!{|item| item[:date]}.reverse!.each do |item| -%>
  <li>
    <a href="<%= item.rep_named(:default).path %>">
      <span class="biglist-pull"><%= item[:date] %></span>
      <span class="biglist-label" <% if item[:list_font_size] %>style="font-size: <%= item[:list_font_size] %>;"<% end %>><%= item[:title] ||= item.identifier %></span>
    </a>
  </li>
  <%- end -%>
</ul>
