---
layout: layout
---

<div id="post" class="content">
  <div class="title">
    <a href="{{ page.url }}">{{ page.title }}</a>
  </div>
  <div class="authoring">
    {{ page.date | date: "%B %e, %Y" }}
  </div>
  {{ content }}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_identifier = '{{ page.id }}';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://coderanger.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=coderanger">comments powered by Disqus.</a></noscript>
</div>
